body{
    background-color:black
}

div,h1,h2#count{
    color:white;
}

div{
    align-self: center;
    text-align: center;
    margin-top: 15%;
}

#increase{
    width: 60px; 
    height: 40px; 
    border-radius: 5px; 
    background: rgb(139, 228, 6);
}

#decrease{
    width: 60px; 
    height: 40px; 
    border-radius: 5px; 
    background: red;
}

#save{
    width: 60px; 
    height: 40px; 
    border-radius: 5px; 
    background: fuchsia;
}